<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tumblr Clones</title>

    <!-- TO DELETE IN PROD -->
    <script src="http://localhost:8080/livereload.js" charset="utf-8"></script>
    <!-- TO DELETE IN PROD -->

    <link rel="shortcut icon" href="/favicon.ico">

    <% if (currentUser) { %>
      <script type="text/javascript">
        // to bootstrap current user logged in to add to Redux state
        window.currentUser = {};
        window.currentUser.username = '<%= currentUser.username %>';
        window.currentUser.email = '<%= currentUser.email %>';
        window.currentUser.avatarImageUrl = '<%= currentUser.avatarImageUrl %>';
        window.currentUser.blogs = '<%= currentUser.blogs %>';
        window.currentUser.following = '<%= currentUser.following %>';
        window.currentUser._id = '<%= currentUser._id %>';
      </script>
    <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
    <script src="/scripts/bundle.js" charset="utf-8"></script>
  </head>
  <body>

    <main id="root">
      This is root.
    </main>

  </body>
</html>
