<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>auteur by Suhan Wijaya</title>

  <!-- TO REMOVE IN PROD -->
  <script src="http://localhost:8080/livereload.js" charset="utf-8"></script>
  <!-- TO REMOVE IN PROD -->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="shortcut icon" href="/favicon.ico">


  <% if (currentUser) { %>
  <script type="text/javascript">
    // to bootstrap current user logged in to add to Redux state
    window.currentUser = {};
    window.currentUser._id = '<%= currentUser._id %>';
    window.currentUser.username = '<%= currentUser.username %>';
    window.currentUser.email = '<%= currentUser.email %>';
    window.currentUser.avatarImageUrl = '<%= currentUser.avatarImageUrl %>';
    window.currentUser.primaryBlog = '<%= currentUser.primaryBlog %>';

    window.currentUser.blogs = '<%= currentUser.blogs %>';
    if (window.currentUser.blogs.length === 0) {
      window.currentUser.blogs = []; // empty array will be cast into empty string, so split method won't work
    } else {
      window.currentUser.blogs = window.currentUser.blogs.split(','); // to turn string into array
    }

    window.currentUser.following = '<%= currentUser.following %>'; //ejs will cast array to string
    if (window.currentUser.following.length === 0) {
      window.currentUser.following = []; // empty array will be cast into empty string, so split method won't work
    } else {
      window.currentUser.following = window.currentUser.following.split(','); // to turn string into array
    }

  </script>
  <% } %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="/scripts/bundle.js" charset="utf-8"></script>

</head>

<body>

  <div id="root">
    This is root.
  </div>

</body>

</html>